@font-face {
    font-family: 'Sigmar';
    src: url('../fonts/Sigmar-Regular.eot');
    src: local('../fonts/Sigmar Regular'), local('Sigmar-Regular'),
        url('../fonts/Sigmar-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Sigmar-Regular.woff2') format('woff2'),
        url('../fonts/Sigmar-Regular.woff') format('woff'),
        url('../fonts/Sigmar-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}