body {
    margin: 0;
    font-family: 'Sigmar';
}

nav img {
    height: 32px;
    margin-right: 8px;
}

nav form {
    font-family: cursive;
    width: 170px !important;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

#pokedex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin: 16px;
}

.poke-card {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    filter: drop-shadow(0 0 0.75rem rgb(150, 148, 148));
    overflow-x: hidden;
}

.mini-card {
    width: 300px;
    height: 200px;
    padding: 16px;
    position: relative;
    color: white;
    text-shadow: 1px 1px 1px black;
    overflow-y: hidden;
}

.big-card {
    width: 500px;
    align-items: center;
}

.mini-card:hover {
    cursor: pointer;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    transform: scale(1.01);
}

.card-bg {
    position: absolute;
    opacity: 0.2;
    width: 100%;
    height: 100% !important;
    left: 20%;
    object-fit: cover;
}

.card-bg:hover {
    transform: scale(1) !important;
}

.mini-card img {
    height: 190px;
    bottom: 0;
    right: 16px;
}

.pokemon-img {
    position: absolute;
    object-fit: cover;
    filter: drop-shadow(0 0 0.5rem rgb(56, 56, 56));
}

.mini-card img:hover {
    transform: scale(1.2);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-loadMore {
    display: flex;
    justify-content: center;
    padding: 16px;
    margin-bottom: 16px;
}

.dialog-bg {
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}

.dialog-icon {
    z-index: 1000;
    position: absolute;
    padding: 8px;
    filter: invert(100%);
}

.dialog-icon:hover {
    cursor: pointer;
    background-color: rgba(148, 148, 148, 0.75);
    border-radius: 50%;
}

.arrow-back {
    height: 40px;
    top: 8px;
    right: 8px !important;
}

.arrow-next,
.arrow-previous {
    height: 56px;
    top: 30% !important;
    right: 8px !important;
}

.arrow-next {
    padding-right: 4px !important;
    right: 24px;
}

.arrow-previous {
    padding-left: 4px !important;
    left: 8px;
}

.card-upperHalf {
    height: 50vh;
    width: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    text-shadow: 1px 1px 1px black;
    color: white;
}

.card-upperHalf img {
    max-height: 45%;
    top: 0;
    right: 0;
}

.big-img {
    max-height: 43% !important;
    top: 2% !important;
    z-index: 2;
}

.container-items {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.fd-column {
    flex-direction: column;
}

.item {
    padding: 8px;
    border-radius: 8px;
    width: fit-content;
}



.card-lowerHalf {
    width: 100%;
    background-color: white;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    margin-top: -64px;
    height: calc(50vh + 62px);
    display: flex;
    flex-direction: column;
    padding: 24px;
    font-family: cursive;
    z-index: 1;
}

#description-content {
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.description-categories {
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
    z-index: 3;
}

.description-category {
    font-size: 18px;
    text-decoration: none;
    padding-bottom: 16px;
    color: black;
    border-bottom: 2px solid black;
}

.inactive {
    color: grey;
    border: 0;
}

.inactive:hover {
    color: black;
    border-bottom: 2px solid black;
}

.gender {
    display: flex;
    align-items: center;
    gap: 16px;
}

.gender img {
    height: 20px;
    position: unset !important;
}

#moves {
    display: flex;
    flex-wrap: wrap;
}

.move {
    padding: 8px;

}

.container-table {
    width: 100%;
    border-radius: 16px;
    padding: 8px;
}

table {
    width: 100%;
}

td {
    padding: 6px 0px;
    font-size: 16px;
}

tr td:first-child {
    color: grey;
    width: 100px;
}

table tr td:last-child {
    min-width: 150px;
    padding-left: 16px;
}

.evolution-stair {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 16px;
    padding: 8px;
}

.evolution-stair-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
}

.evolution-stair-item img {
    height: 120px;
}

.evolution-stair-item img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.evolution-icon {
    height: 50px !important;
    filter: invert(30%);
}

.evolution-icon:hover {
    cursor: unset !important;
    transform: scale(1.0) !important;
}

.left {
    align-items: flex-start !important;
}

.d-none {
    display: none !important;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

#dialogPageLoad {
    background-color: white !important;
    z-index: 1;
}

#spinner {
    position: absolute;
    z-index: 100;
    width: 150px;
    height: 150px;
}

.pokeball-container {
    width: 150px;
    height: 150px;
    position: relative;
    transform: scale(0.5);
    margin: -54px;
}

.pokeball-container img {
    position: absolute;
    width: 150px;
    height: 150px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
        /* Startposition der Rotation */
    }

    to {
        transform: rotate(-360deg);
        /* Endposition der Rotation */
    }
}

@media (max-width: 665px) {

    .mini-card {
        width: calc(50% - (3 * 16px / 2));
    }

    .mini-card img {
        height: 160px;
        right: 0px;
    }
}

@media (max-width: 525px) {

    .mini-card {
        width: calc(100% - 16px);
    }

    .mini-card img {
        height: 190px;
        right: 32px;
    }
}

@media (max-width: 500px) {


    .big-card {
        border-radius: 0 !important;
    }
}