body {
    margin: 0;
}

nav img {
    height: 32px;
    margin-right: 8px;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

#pokedex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin: 16px;
}

.mini-card {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 8px;
    width: 300px;
    height: 200px;
    position: relative;
    color: white;
    font-weight: 500;
}

.mini-card:hover {
    cursor: pointer;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    transform: scale(1.01);
}

.mini-card img {
    height: 200px;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    right: 0;
}

.mini-card img:hover {
    transform: scale(1.2);
}

.mini-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#container-loadMore {
    display: flex;
    justify-content: center;
    padding: 16px;
    margin-bottom: 16px;
}

.dialog-bg {
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}

.dialog-icon {
    z-index: 1000;
    position: absolute;
    padding: 8px;
    filter: invert(100%);
}

.dialog-icon:hover {
    cursor: pointer;
    background-color: rgba(148, 148, 148, 0.75);
    border-radius: 50%;
}

.arrow-back {
    height: 40px;
    top: 8px;
    left: 8px;
}

.arrow-next,
.arrow-previous {
    height: 56px;
    top: 50%;
}

.arrow-next {
    padding-right: 4px !important;
    right: 24px;
}

.arrow-previous {
    padding-left: 4px !important;
    left: 24px;
}

#card {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* overflow: hidden; */
    width: 500px;
}

.card-upperHalf {
    height: 50vh;
    width: 100%;
    padding: 24px;
    color: white;
    display: flex;
    flex-direction: column;
}

.container-items {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.fd-column {
    flex-direction: column;
}

.item {
    padding: 8px;
    border-radius: 8px;
    width: fit-content;
}

#card img {
    position: absolute;
    max-height: 45%;
    top: 0;
    right: 0;
}

.card-lowerHalf {
    width: 100%;
    background-color: white;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    margin-top: -64px;
    height: calc(50vh + 62px);
    display: flex;
    flex-direction: column;
    padding: 24px;
}

#description-content {
    overflow: auto;
}

.description-categories {
    display: flex;
    gap: 16px;
    margin-bottom: 32px;
}

.description-category {
    font-size: 18px;
    text-decoration: none;
    padding-bottom: 16px;
    color: black;
    border-bottom: 2px solid black;
}

.inactive {
    color: grey;
    border: 0;
}

.inactive:hover {
    color: black;
    border-bottom: 2px solid black;
}

#moves {
    display: flex;
    flex-wrap: wrap;
}

.move {
    padding: 8px;

}

td {
    padding: 6px 0px;
    font-size: 16px;
}

tr td:first-child {
    color: grey;
    width: 100px;
}

table tr td:last-child {
    min-width: 150px;
    padding-left: 16px;
}

.pokemon-evolution-img {
    height: 200px;
}

.d-none {
    display: none !important;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}



.black {
    background-color: rgb(97, 92, 92);
}

.black-item {
    background-color: rgb(112, 110, 110);
}

.blue {
    background-color: rgb(118, 190, 254);
}

.blue-item {
    background-color: rgb(151, 206, 255);
}

.brown {
    background-color: rgb(204, 166, 110);
}

.brown-item {
    background-color: rgb(206, 180, 140);
}

.gray {
    background-color: rgb(199, 199, 199);
}

.gray-item {
    background-color: rgb(211, 210, 210);
}

.green {
    background-color: rgb(73, 208, 176);
}

.green-item {
    background-color: rgb(135, 216, 197);
}

.pink {
    background-color: rgb(240, 175, 226);
}

.pink-item {
    background-color: rgb(250, 195, 238);
}

.purple {
    background-color: rgb(223, 159, 253);
}

.purple-item {
    background-color: rgb(228, 172, 253);
}

.red {
    background-color: rgb(252, 108, 109);
}

.red-item {
    background-color: rgb(248, 129, 129);
}

.white {
    background-color: rgb(248, 204, 204);
}

.white-item {
    background-color: rgb(248, 215, 215);
}

.yellow {
    background-color: rgba(216, 214, 76, 0.712);
}

.yellow-item {
    background-color: rgba(223, 221, 97, 0.863);
}

.grey {
    background-color: rgba(0, 0, 0, 0.05);
}